Repository stolostron/konflux-build-catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: common-pipeline-mce-2.10-on-push, common-pipeline-on-push

common-pipeline-mce-2.10-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/common-pipeline:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: build-platforms
    value:
    - linux/x86_64
  ...

common-pipeline-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/common-pipeline:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: build-platforms
    value:
    - linux/x86_64
  ...

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Due: common-pipeline-mce-2.10-on-push

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Due: none

chore: update Tekton Task Bundles in common.yaml
  pipelines/common.yaml
Due: common-pipeline-on-push

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Due: none

Migrate buildah task bundles from 0.5 to 0.6
  pipelines/common-fbc.yaml
  pipelines/common-oci-ta.yaml
  pipelines/common.yaml
  pipelines/common_mce_2.10.yaml
  pipelines/common_mce_2.6.yaml
  pipelines/common_mce_2.7.yaml
  pipelines/common_mce_2.8.yaml
  pipelines/common_mce_2.9.yaml
Due: common-pipeline-mce-2.10-on-push, common-pipeline-on-push

add group id support
  pipelines/common.yaml
Due: common-pipeline-on-push

add group id
  pipelines/common.yaml
Due: common-pipeline-on-push

Path conditions:
  common-pipeline-mce-2.10-on-push: any of: pipelines/common_mce_2.10.yaml
  common-pipeline-on-push: any of: pipelines/common.yaml
