Repository stolostron/konflux-build-catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: common-pipeline-mce-2.10-on-push, common-pipeline-on-push

common-pipeline-mce-2.10-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/common-pipeline:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: build-platforms
    value:
    - linux/x86_64
  ...

common-pipeline-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/common-pipeline:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: build-platforms
    value:
    - linux/x86_64
  ...

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Due: none

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Due: none

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.11.yaml
  pipelines/common_mce_2.11.yaml
Due: none

chore: update Tekton Task Bundles in common.yaml
  pipelines/common.yaml
Due: common-pipeline-on-push

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Due: common-pipeline-mce-2.10-on-push

fix(pipelines): migrate apply-tags task from 0.2 to 0.3
  pipelines/common-fbc.yaml
  pipelines/common-oci-ta.yaml
  pipelines/common.yaml
  pipelines/common_mce_2.10.yaml
  pipelines/common_mce_2.11.yaml
  pipelines/common_mce_2.6.yaml
  pipelines/common_mce_2.7.yaml
  pipelines/common_mce_2.8.yaml
  pipelines/common_mce_2.9.yaml
Due: common-pipeline-mce-2.10-on-push, common-pipeline-on-push

chore(workflows): reduce tekton bundle update frequency to weekly
  .github/workflows/auto-merge-automated-updates.yaml
  .github/workflows/update-tekton-task-bundles.yaml
Due: none

refactor(pipelines): convert MCE version files to symlinks
  .github/workflows/update-tekton-task-bundles.yaml
  .tekton/common-pipeline-mce-2.10-pull-request.yaml
  .tekton/common-pipeline-mce-2.10-push.yaml
  .tekton/common-pipeline-mce-2.11-pull-request.yaml
  .tekton/common-pipeline-mce-2.11-push.yaml
  .tekton/common-pipeline-mce-2.6-pull-request.yaml
  .tekton/common-pipeline-mce-2.6-push.yaml
  .tekton/common-pipeline-mce-2.7-pull-request.yaml
  .tekton/common-pipeline-mce-2.7-push.yaml
  .tekton/common-pipeline-mce-2.8-pull-request.yaml
  .tekton/common-pipeline-mce-2.8-push.yaml
  .tekton/common-pipeline-mce-2.9-pull-request.yaml
  .tekton/common-pipeline-mce-2.9-push.yaml
  CLAUDE.md
  README.md
  pipelines/common_mce_2.10.yaml
  pipelines/common_mce_2.11.yaml
  pipelines/common_mce_2.6.yaml
  pipelines/common_mce_2.7.yaml
  pipelines/common_mce_2.8.yaml
  pipelines/common_mce_2.9.yaml
Due: common-pipeline-mce-2.10-on-push

chore: keep MCE .tekton files for CI checks
  .tekton/common-pipeline-mce-2.10-pull-request.yaml
  .tekton/common-pipeline-mce-2.10-push.yaml
  .tekton/common-pipeline-mce-2.11-pull-request.yaml
  .tekton/common-pipeline-mce-2.11-push.yaml
  .tekton/common-pipeline-mce-2.6-pull-request.yaml
  .tekton/common-pipeline-mce-2.6-push.yaml
  .tekton/common-pipeline-mce-2.7-pull-request.yaml
  .tekton/common-pipeline-mce-2.7-push.yaml
  .tekton/common-pipeline-mce-2.8-pull-request.yaml
  .tekton/common-pipeline-mce-2.8-push.yaml
  .tekton/common-pipeline-mce-2.9-pull-request.yaml
  .tekton/common-pipeline-mce-2.9-push.yaml
Due: none

fix(pipelines): migrate sast-unicode-check-oci-ta task from 0.3 to 0.4
  pipelines/common.yaml
Due: common-pipeline-on-push

feat(workflows): add author check to auto-merge workflow
  .github/workflows/auto-merge-automated-updates.yaml
Due: none

chore(workflows): update auto-merge schedule to 04:00 UTC
  .github/workflows/auto-merge-automated-updates.yaml
Due: none

feat: add Hive golang update MintMaker config
  mintmaker/hive_updates.json
Due: none

chore(workflows): update workflow schedules to run on Sunday
  .github/workflows/auto-merge-automated-updates.yaml
  .github/workflows/update-tekton-task-bundles.yaml
Due: none

refactor: move KubeOpenCode task creation to independent job
  .github/workflows/update-tekton-task-bundles.yaml
Due: none

chore(workflows): embed all context directly in migration task template
  .github/workflows/update-tekton-task-bundles.yaml
Due: none

updated common pipeline to support MCE 2.17
  pipelines/common.yaml
Due: common-pipeline-on-push

chore: update MCE versions in common.yaml
  pipelines/common.yaml
Due: common-pipeline-on-push

feat: populate image labels from bundle metadata
  .github/workflows/lint.yaml
  build/generate-tasks.sh
  pipelines/common-stage.yaml
  tasks/fetch-product-metadata/fetch-product-metadata.yaml
  tasks/fetch-product-metadata/fetch-product-metadata.yaml.template
  tasks/fetch-product-metadata/parse-output-image.sh
  tasks/fetch-product-metadata/parse-product-metadata.sh
Due: none

feat: populate image labels from bundle metadata
  tasks/generate-tasks.sh
Due: none

chore: update YAML for linting rules
  .tekton/common-pipeline-fbc-pull-request.yaml
  .tekton/common-pipeline-mce-2.10-pull-request.yaml
  .tekton/common-pipeline-mce-2.10-push.yaml
  .tekton/common-pipeline-mce-2.11-pull-request.yaml
  .tekton/common-pipeline-mce-2.11-push.yaml
  .tekton/common-pipeline-mce-2.6-pull-request.yaml
  .tekton/common-pipeline-mce-2.6-push.yaml
  .tekton/common-pipeline-mce-2.7-pull-request.yaml
  .tekton/common-pipeline-mce-2.7-push.yaml
  .tekton/common-pipeline-mce-2.8-pull-request.yaml
  .tekton/common-pipeline-mce-2.8-push.yaml
  .tekton/common-pipeline-mce-2.9-pull-request.yaml
  .tekton/common-pipeline-mce-2.9-push.yaml
  .tekton/common-pipeline-oci-ta-pull-request.yaml
  .tekton/common-pipeline-pull-request.yaml
  .tekton/common-pipeline-push.yaml
  pipelines/common-fbc.yaml
  pipelines/common-oci-ta.yaml
  pipelines/common.yaml
Due: common-pipeline-on-push

chore: shellcheck update task script
  update-tekton-task-bundles.sh
Due: none

feat: add linting workflow
  .github/workflows/lint.yaml
  build/.yamllint
Due: none

chore: set task sha for `fetch-product-metadata`
  pipelines/common-stage.yaml
Due: none

chore: establish `common-base.yaml`
  .github/workflows/update-tekton-task-bundles.yaml
  pipelines/common-base.yaml
Due: none

fix: silence grep error to allow error handling
  tasks/fetch-product-metadata/fetch-product-metadata.yaml
  tasks/fetch-product-metadata/parse-output-image.sh
Due: none

fix: return last match from image
  tasks/fetch-product-metadata/fetch-product-metadata.yaml
  tasks/fetch-product-metadata/parse-output-image.sh
Due: none

Path conditions:
  common-pipeline-mce-2.10-on-push: any of: pipelines/common_mce_2.10.yaml
  common-pipeline-on-push: any of: pipelines/common.yaml
