Repository stolostron/konflux-build-catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: common-pipeline-mce-2.10-on-push, common-pipeline-on-push

.tekton/common-pipeline-mce-2.10-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/stolostron/konflux-build-catalog?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" && "pipelines/common_mce_2.10.yaml".pathChanged()
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: konflux-build-catalog
    appstudio.openshift.io/component: common-pipeline
    pipelines.appstudio.openshift.io/type: build
  name: common-pipeline-mce-2.10-on-push
  namespace: crt-redhat-acm-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/common-pipeline:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: build-platforms
    value:
    - linux/x86_64
  - name: send-slack-notification
    value: "true"
  - name: konflux-application-name
    # Use "release-mce-210" for MCE 2.10 and "release-acm-215" for ACM 2.15
    value: "konflux-build-catalog"
  - name: slack-member-id
    # With this parameter, the notification will mention the user in the slack message when the pipeline run failed; this is not required.
    # Please make sure replace the value with component owner's slack member id.
    value: "U02CRCBPXK4"
  pipelineRef:
    resolver: git
    params:
      - name: url
        value: "https://github.com/stolostron/konflux-build-catalog.git"
      - name: revision
        value: '{{revision}}' # {{revision}} is the commit hash of the PR branch
      - name: pathInRepo
        value: pipelines/common_mce_2.10.yaml
  taskRunTemplate:
    serviceAccountName: build-pipeline-common-pipeline
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/common-pipeline-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/stolostron/konflux-build-catalog?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch
      == "main" && "pipelines/common.yaml".pathChanged()
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: konflux-build-catalog
    appstudio.openshift.io/component: common-pipeline
    pipelines.appstudio.openshift.io/type: build
  name: common-pipeline-on-push
  namespace: crt-redhat-acm-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/common-pipeline:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: build-platforms
    value:
    - linux/x86_64
  pipelineRef:
    resolver: git
    params:
      - name: url
        value: "https://github.com/stolostron/konflux-build-catalog.git"
      - name: revision
        value: '{{revision}}' # {{revision}} is the commit hash of the PR branch
      - name: pathInRepo
        value: pipelines/common.yaml
  taskRunTemplate:
    serviceAccountName: build-pipeline-common-pipeline
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

chore: update Tekton Task Bundles in common_mce_2.10.yaml
  pipelines/common_mce_2.10.yaml
Due: common-pipeline-mce-2.10-on-push

chore: update Tekton Task Bundles in common_mce_2.6.yaml
  pipelines/common_mce_2.6.yaml
Due: none

chore: update Tekton Task Bundles in common_mce_2.9.yaml
  pipelines/common_mce_2.9.yaml
Due: none

chore: update Tekton Task Bundles in common-fbc.yaml
  pipelines/common-fbc.yaml
Due: none

chore: update Mintmaker defaults
  mintmaker/README.md
  mintmaker/default.json
  mintmaker/image_digest_pinning.json
Due: none

chore: update Tekton Task Bundles in common_mce_2.7.yaml
  pipelines/common_mce_2.7.yaml
Due: none

chore: update Tekton Task Bundles in common-oci-ta.yaml
  pipelines/common-oci-ta.yaml
Due: none

chore: update Tekton Task Bundles in common.yaml
  pipelines/common.yaml
Due: common-pipeline-on-push

chore: update Tekton Task Bundles in common_mce_2.8.yaml
  pipelines/common_mce_2.8.yaml
Due: none
